body {
    // background: #ccc;
    height: 10000px;
}


.flexbox {
   display: flex;
   justify-content: space-between;
   flex-flow: row wrap;
   align-items: flex-start;
}

.triangle {
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

#pages {
    // flex-flow: row nowrap;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.section {
    position: absolute;
    width: calc(100vh / 4);
    height: 100vw;
    background: #fff;
    // transform: rotateZ(90deg);
    transition: .8s;
    transform-origin: left top; 
    transform: rotateZ(90deg) translateY(-100%);
}

.about {
    transform: rotateZ(90deg) translate(100%, -100%);
    background: #ccc;
}
.works {
    transform: rotateZ(90deg) translate(200%, -100%);
    background: #aaa;
}
.contact {
    transform: rotateZ(90deg) translate(300%, -100%);
    background: #999;
}

.section.active {
    transform: none;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
}

