html, body {
    background: pink;
    height: 100%;
}

#scrollable {
    height: auto;
}
#scrollable.scrollable {
    height: 10000px;
}


.flexbox {
   display: flex;
   justify-content: space-between;
   flex-flow: row wrap;
   align-items: flex-start;
}

.triangle {
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

#pages {
    // flex-flow: row nowrap;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
}

.section {
    position: absolute;
    overflow: hidden;
    width: calc(100vh / 4);
    height: 100vw;
    background: #fff;
    transition: 1s;
    transform-origin: left top; 
    transform: rotateZ(90deg) translateY(-100%);
}

.about {
    transform: rotateZ(90deg) translate(100%, -100%);
    background: #ccc;
}
.works {
    transform: rotateZ(90deg) translate(200%, -100%);
    background: #aaa;
}
.contact {
    transform: rotateZ(90deg) translate(300%, -100%);
    background: #999;
}

.section.active {
    transform: none;
    top: 0;
    width: 100vw;
    height: 100%;
    position: fixed;
}

.section_inner {
    transform: scale(.6);
    width: 100%;
    height: 100%;
    transition: .4s;
}
.active .section_inner {
    transform: scale(1);
    width: 100%;
    height: 100%;
}

.z100 {
    z-index: 100;
}

