html, body {
    height: 100%;
    color: #fff;
    font-family: 'Electrolize', sans-serif;
}

.tran1 { transition: 1s; }
.z-20 { z-index: 20; }
.txt-sm { font-size: 72%; }
.to-lt { transform-origin: left top; }
.bdbx { box-sizing: border-box; }
.lh18 { line-height: 1.8; }
.txt-default { font-size: 150%; }

.cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.hide { opacity: 0 !important; }
.show { opacity: 1 !important; }

@keyframes chikachika {
    from {filter: brightness(1);}
    to {filter: brightness(.5);}
}

.d-md-block { display: none; }
@media screen and (min-width: 896px) {
    .d-md-none { display: none; }
    .d-md-block { display: block; } 
}

