html, body {
    background: pink;
    height: 100%;
}

.tran1 { transition: 1s; }

.to-lt { transform-origin: left top; }

.flexbox {
   display: flex;
   justify-content: space-between;
   flex-flow: row wrap;
   align-items: flex-start;
}

.triangle {
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.z100 {
    z-index: 100;
}



