:root {
    --frag-size: 50px;
}

//fragment
$canvas_color: linear-gradient(45deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, .5));
$canvas_deg_gap: 180;

.frag_wrapper {
    position: absolute;
    bottom: 0;
    left: -60px;
    width: calc(var(--frag-size) * 4);
    height: calc(var(--frag-size) * 4);
    transform: rotateX(-50deg) rotateY(-50deg);
}

.canvas {
    position: absolute;
    width: 100%;
    transform: rotate(45deg);
}

.canvas2 {
    transform: rotate($canvas_deg_gap + 45deg);
    transform-origin: center;
    background: $canvas_color;
}

.canvas2.hide { background: none; }

.frag { border-width: 0 var(--frag-size) var(--frag-size) 0; }

.triangle.frag {
    opacity: .6;
    transform-style: preserve-3d;
}
//fragment




@media screen and (min-width: 768px) {
    :root {
        --frag-size: 100px;
    }
    
    //fragment
    .frag_wrapper { left: 0; }
    //fragment
}