@charset "UTF-8";
//reset
* {
	margin: 0;
	padding: 0;
}
ul,ol { list-style: none; }
img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border: none;
	vertical-align: bottom;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}
a {
	color: inherit;
	text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//reset

//snippet
.flexbox {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}
.op0 { opacity: 0; }
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: wrap; }
.hidden { overflow: hidden; }
.z100 { z-index: 100; }
.db { display: block; }
.dn { display: none; }
.fwb { font-weight: bold; }
.tac { text-align: center; }
.ls01 { letter-spacing: 0.1em; }
.nowrap { white-space: nowrap; }
.jcc { justify-content: center; }
.aifs { align-items: flex-start; }
.por { position: relative; }
.poa { position: absolute; }
.pof {
    position: fixed;
    will-change: transform;
}

.w-33 { width: calc(100% / 3); }
.h-100 { height: 100%; }

@for $i from 1 through 20 {
    .w-#{$i * 5} { width: 5% * $i; }
}

@for $i from 1 through 9 {
    .tran-0#{$i} { transition-duration: .1s * $i; }
}
@for $i from 1 through 9 {
    .td-0#{$i} { transition-delay: .1s * $i; }
}

@for $i from 0 through 9 {
    .mt-#{$i * 10} { margin-top: 10px * $i; }
    .ml-#{$i * 10} { margin-left: 10px * $i; }
    .mr-#{$i * 10} { margin-right: 10px * $i; }
    .mb-#{$i * 10} { margin-bottom: 10px * $i; }
    .my-#{$i * 10} { margin: 10px * $i auto; }
    .pt-#{$i * 10} { padding-top: 10px * $i; }
    .pl-#{$i * 10} { padding-left: 10px * $i; }
    .pr-#{$i * 10} { padding-right: 10px * $i; }
    .pb-#{$i * 10} { padding-bottom: 10px * $i; }
    .py-#{$i * 10} { padding: 10px * $i 0; }
}

.triangle {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
//snippet

//font
@media (max-width: 575.98px) {
    html {
      font-size: 80%;
    } 
  }
  @media (max-width: 767.98px) {
   html {
      font-size: 90%;
    }
  }
  @media (min-width: 1200px) {
   html {
      font-size: 110%;
    }
  }
  @media (min-width: 1400px) {
   html {
      font-size: 120%;
    }
  }
//font