$blue: rgb(47, 0, 255);
$dark_blue: rgb(22, 3, 109);
$black_blue: rgb(6, 1, 31);

.scrollable { height: 10000px; }

#eyecatch {
    background: $dark_blue;
    .grid {
        width: 1400px;
        height: 800px;
        transform: translate(-50%, -50%) rotateZ(90deg);
        transform-origin: center;
        li { 
            background: rgb(55, 73, 236); 
            width: 100px;
            height: 100px;
        }
    }
}

.screen {
    width: 100vw;
    top: 0;
}
.screen_hidden {
    transform: translateX(-100%);
}

.section {
    width: calc(100vh / 4);
    height: 100vw;
}
.section:before { width: 0; }

.section_inner {
    opacity: 0;
    border: 1px solid $black_blue;
    background: #222;
}

.section_content {
    transform-origin: right bottom;
    top: 0;
    left: 0;
}

.concept { transform: rotateZ(90deg) translateY(-100%); }
.about { transform: rotateZ(90deg) translate(100%, -100%); }
.works { transform: rotateZ(90deg) translate(200%, -100%); }
.contact { transform: rotateZ(90deg) translate(300%, -100%); }

.section_title {
    transform: translateY(-100%) rotateZ(-90deg);
    right: 0;
    top: 0;
    transform-origin: right bottom;
    font-size: 5rem;
    color: $black_blue;
    line-height: 1;
}

//active
.section.active {
    transform: none;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    will-change: transform;
    .section_title {
        font-size: 4rem;
        transform: translate(-5%, 15%); 
    }
}
//active

//reveal
.section.reveal .section_inner {
    opacity: 1;
    transition-delay: .3s;
}
.section.reveal:before {
    animation: revealerIn .3s forwards, revealerOut .3s forwards .5s;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black_blue;
    z-index: 1;
}
@keyframes revealerIn {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}
@keyframes revealerOut {
    0% { transform: translateY(0%); }
    100% { transform: translateY(100%); }
}
//reveal

//text effect
.title_effect [data-char] {
    --split: 50;
    color: transparent;
    position: relative;
    animation: textEffect1 1.5s infinite ease-in-out alternate-reverse;
  }
  .title_effect [data-char]:after, .title_effect [data-char]:before {
    content: attr(data-char);
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    color: #fff;
    clip-path: var(--clip);
  }
  .title_effect [data-char]:after {
    transform: translate(calc(var(--shift) * 1%), 0);
    --clip: inset(0 0 calc(var(--split) * 1%) 0);
    text-shadow: calc(var(--shadow) * 1px) calc(var(--shadow) * 1px) $blue;
  }
  .title_effect [data-char]:before { --clip: inset(calc((95 - var(--split)) * 1%) 0 0 0); }
  @keyframes textEffect1 {
    0%  { --split: 20;--shift: 15;--shadow: -2; }
    5%  { --split: 30;--shift: 15;--shadow: -2; }
    10% { --split: 80;--shift: 10;--shadow: -2; }
    15% { --split: 55;--shift: 10;--shadow: -2; }
    20%, 50% { --split: 0;--shift: 0;--shadow: 0; }
    100% { --split: 0;--shift: 0;--shadow: 0; }
  }
//text effect

//jiguzagu
#jiguzagu_svg { width: 600px;height: 100px; }
.jiguzagu{fill:none;stroke:#0000FF;stroke-width:4;stroke-miterlimit:10;}
.jiguzagu_shadow { fill:none;stroke:rgb(255, 255, 255);stroke-width:4;stroke-miterlimit:10; }
//jiguzagu














@media screen and (min-width: 896px) {
    .section {
        width: 100vh;
        height: calc(100vw / 4);
    }
    .about { transform: rotateZ(90deg) translateY(-200%); }
    .works { transform: rotateZ(90deg) translateY(-300%); }
    .contact { transform: rotateZ(90deg) translateY(-400%); }
    @keyframes revealerIn {
        0% { transform: translateX(-100%); }
        100% { transform: translateX(0%); }
    }
    @keyframes revealerOut {
        0% { transform: translateX(0%); }
        100% { transform: translateX(100%); }
    }
    .grid {transform: translate(-50%, -50%) !important; }
    .section.active .section_title {
        font-size: 6rem;
    }
    #jiguzagu_svg { width: 1300px; height: 200px; }
}