.dammy_height_section {
    height: 0;
    position: absolute;
}

.scrollable { height: 10000px; }

#eyecatch {
    background: #000;
    .staggering-grid-demo {
        display: flex;
        flex-wrap: wrap;
        width: 700px;
        height: 250px;
        .el { 
            background: aqua; 
            width: 50px;
            height: 50px;
        }
    }
}

.screen {
    overflow: hidden;
    width: 100vw;
    height: 100%;
    top: 0;
    animation: rotateToShown 1s forwards;
}
.screen_hidden {
    animation: rotateToHidden 1s forwards;
}

@keyframes rotateToShown {
    from { transform: perspective(300px) rotateZ(180deg); }
    to   { transform: perspective(300px) rotateZ(360deg); }
}
@keyframes rotateToHidden {
    from { transform: perspective(300px) rotateZ(0deg); }
    to   { transform: perspective(300px) rotateZ(180deg); }   
}

.section {
    position: absolute;
    overflow: hidden;
    width: calc(100vh / 4);
    height: 100vw;
}
.section:before { width: 0; }

.section_inner {
    opacity: 0;
    width: 100%;
    height: 100%;
}

.section_content {
    // transform: scale(.6);
    transform-origin: right bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.concept {
    transform: rotateZ(90deg) translateY(-100%);
    .section_inner {background: #333;}
    .title_color { color: rgb(50, 50, 200); }
}
.about {
    transform: rotateZ(90deg) translate(100%, -100%);
    .section_inner {background: #555;}
    .title_color { color: #f00; }
}
.works {
    transform: rotateZ(90deg) translate(200%, -100%);
    .section_inner {background: #777;}
    .title_color { color: #0f0; }
}
.contact {
    transform: rotateZ(90deg) translate(300%, -100%);
    .section_inner {background: #999;}
    .title_color { color: #0ff; }
}

.section_title {
    transform: translateY(-100%) rotateZ(-90deg);
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: right bottom;
    font-size: 5rem;
    color: #aaa;
    line-height: 1;
}

//active
.section.active {
    transform: none;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}
//active

//reveal
.section.reveal .section_inner {
    opacity: 1;
    transition-delay: .3s;
}
.section.reveal:before {
    animation: revealerIn .3s forwards, revealerOut .3s forwards .5s;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
}
@keyframes revealerIn {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}
@keyframes revealerOut {
    0% { transform: translateY(0%); }
    100% { transform: translateY(100%); }
}
//reveal

//text effect
.title_effect [data-char] {
    --split: 50;
    color: transparent;
    position: relative;
    animation: textEffect1 1.5s infinite ease-in-out alternate-reverse;
    font-size: 3.2rem;
  }
  .title_effect [data-char]:after, .title_effect [data-char]:before {
    content: attr(data-char);
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    color: #fff;
    clip-path: var(--clip);
  }
  .title_effect [data-char]:after {
    transform: translate(calc(var(--shift) * 1%), 0);
    --clip: inset(0 0 calc(var(--split) * 1%) 0);
    text-shadow: calc(var(--shadow) * 1px) calc(var(--shadow) * 1px) #f00;
  }
  .title_effect [data-char]:before { --clip: inset(calc((95 - var(--split)) * 1%) 0 0 0); }
  @keyframes textEffect1 {
    0%  { --split: 20;--shift: 15;--shadow: -2; }
    5%  { --split: 30;--shift: 15;--shadow: -2; }
    10% { --split: 80;--shift: 10;--shadow: -2; }
    15% { --split: 55;--shift: 10;--shadow: -2; }
    20%, 50% { --split: 0;--shift: 0;--shadow: 0; }
    100% { --split: 0;--shift: 0;--shadow: 0; }
  }
//text effect


















@media screen and (min-width: 896px) {
    .section {
        width: 100vh;
        height: calc(100vw / 4);
    }
    .about { transform: rotateZ(90deg) translateY(-200%); }
    .works { transform: rotateZ(90deg) translateY(-300%); }
    .contact { transform: rotateZ(90deg) translateY(-400%); }
    @keyframes revealerIn {
        0% { transform: translateX(-100%); }
        100% { transform: translateX(0%); }
    }
    @keyframes revealerOut {
        0% { transform: translateX(0%); }
        100% { transform: translateX(100%); }
    }
}