.dammy_height {
    height: 0;
    position: absolute;
}

.scrollable { height: 10000px; }

.screen {
    overflow: hidden;
    width: 100vw;
    height: 100%;
    top: 0;
    animation: rotateToShown 1s forwards;
}
.screen_hidden {
    animation: rotateToHidden 1s forwards;
}

@keyframes rotateToShown {
    from { transform: perspective(300px) rotateZ(180deg); }
    to   { transform: perspective(300px) rotateZ(360deg); }
}
@keyframes rotateToHidden {
    from { transform: perspective(300px) rotateZ(0deg); }
    to   { transform: perspective(300px) rotateZ(180deg); }   
}

.section {
    position: absolute;
    overflow: hidden;
    width: calc(100vh / 4);
    height: 100vw;
}
.section:before {
    width: 0;
}

.section_inner {
    opacity: 0;
    width: 100%;
    height: 100%;
}

.section_content {
    transform: scale(.6);
    transform-origin: left bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.concept {
    transform: rotateZ(90deg) translateY(-100%);
    .section_inner {background: #fff;}
}
.about {
    transform: rotateZ(90deg) translate(100%, -100%);
    .section_inner {background: #ccc;}
}
.works {
    transform: rotateZ(90deg) translate(200%, -100%);
    .section_inner {background: #aaa;}
}
.contact {
    transform: rotateZ(90deg) translate(300%, -100%);
    .section_inner {background: #999;}
}

//active
.section.active {
    transform: none;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}
.active .section_content {
    transform: scale(1);
}
//active

//reveal
.section.reveal .section_inner {
    opacity: 1;
    transition-delay: .3s;
}
.section.reveal:before {
    animation: revealerIn .3s forwards, revealerOut .3s forwards .5s;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
}
@keyframes revealerIn {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}
@keyframes revealerOut {
    0% { transform: translateY(0%); }
    100% { transform: translateY(100%); }
}
//reveal

#eyecatch {
    background: skyblue;
}