.scrollable {
  height: 7000px;
}

.concept .scrollable {
  height: 4000px;
}

.about .scrollable {
  height: 7000px;
}

.contact .scrollable {
  height: 10px;
}

#main_container {
  background: radial-gradient(var(--main-dark), var(--main-black));
}

.chikachika {
  -webkit-animation: chikachika 3s alternate infinite;
          animation: chikachika 3s alternate infinite;
}

.dark_bg {
  background: var(--main-black);
}

#eyecatch {
  background: radial-gradient(var(--main-black-grad) 5%, var(--main-black));
}

.screen {
  width: 100vw;
  top: 0;
}

.screen_hidden {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.section {
  height: 100vw;
  cursor: none !important;
}

.section:before {
  width: 0;
}

.section_content {
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  top: 0;
  left: 0;
  border: 1px solid var(--main);
}

.active .section_content {
  border: none;
}

.content_inner {
  width: 100vw;
}

.contact .content_inner {
  width: auto;
}

.active .content_inner {
  opacity: 1;
}

.concept {
  -webkit-transform: rotateZ(90deg) translateY(-100%);
          transform: rotateZ(90deg) translateY(-100%);
}

.about {
  -webkit-transform: rotateZ(90deg) translate(100%, -100%);
          transform: rotateZ(90deg) translate(100%, -100%);
}

.works {
  -webkit-transform: rotateZ(90deg) translate(200%, -100%);
          transform: rotateZ(90deg) translate(200%, -100%);
}

.contact {
  -webkit-transform: rotateZ(90deg) translate(300%, -100%);
          transform: rotateZ(90deg) translate(300%, -100%);
}

.eyecatch_inner {
  margin: auto;
  max-width: 1500px;
  height: 50%;
}

.section.active {
  -webkit-transform: none;
          transform: none;
  top: 0;
  height: 100%;
  position: fixed;
  will-change: transform;
}

.section.active .section_title {
  -webkit-transform: translate(-5%, 15%);
          transform: translate(-5%, 15%);
}

.section.reveal .section_inner {
  opacity: 1;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.section.reveal:before {
  -webkit-animation: revealerIn .3s forwards, revealerOut .3s forwards .5s;
          animation: revealerIn .3s forwards, revealerOut .3s forwards .5s;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-dark);
  z-index: 1;
}

@-webkit-keyframes revealerIn {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes revealerIn {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes revealerOut {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes revealerOut {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.back_to_menu {
  right: 0;
  width: 0;
}

.back_to_menu svg {
  fill: var(--main-dark);
  width: 8vw;
  right: 0;
}

.back_to_menu_active {
  width: 8%;
}

@media screen and (min-width: 768px) {
  .back_to_menu svg {
    width: 6vw;
  }
}

@media screen and (min-width: 896px) {
  #stalker {
    --stalker-size: 10px;
    --stalker-position: -5px;
    border-radius: 50%;
    width: var(--stalker-size);
    height: var(--stalker-size);
    background: var(--main);
    top: var(--stalker-position);
    left: var(--stalker-position);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    z-index: 999;
    opacity: 0.5;
  }
  #stalker.stalker_hover {
    --hover-size: 64px;
    --hover-position: -32px;
    top: var(--hover-position);
    left: var(--hover-position);
    width: var(--hover-size);
    height: var(--hover-size);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .pages {
    max-width: 1800px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .section {
    width: 50%;
    height: 50%;
  }
  .concept {
    -webkit-transform: none;
            transform: none;
  }
  .about {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .about.reveal:before {
    -webkit-animation: revealerInAbout .3s forwards, revealerOutAbout .3s forwards .5s;
            animation: revealerInAbout .3s forwards, revealerOutAbout .3s forwards .5s;
  }
  .works {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  .works.reveal:before {
    -webkit-animation: revealerInWorks .3s forwards, revealerOutWorks .3s forwards .5s;
            animation: revealerInWorks .3s forwards, revealerOutWorks .3s forwards .5s;
  }
  .contact {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  .contact.reveal:before {
    -webkit-animation: revealerInContact .3s forwards, revealerOutContact .3s forwards .5s;
            animation: revealerInContact .3s forwards, revealerOutContact .3s forwards .5s;
  }
  @-webkit-keyframes revealerIn {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @keyframes revealerIn {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @-webkit-keyframes revealerOut {
    0% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  @keyframes revealerOut {
    0% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  @-webkit-keyframes revealerInAbout {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  @keyframes revealerInAbout {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  @-webkit-keyframes revealerOutAbout {
    0% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
    100% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
  }
  @keyframes revealerOutAbout {
    0% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
    100% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
  }
  @-webkit-keyframes revealerInWorks {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  @keyframes revealerInWorks {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  @-webkit-keyframes revealerOutWorks {
    0% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
    100% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  @keyframes revealerOutWorks {
    0% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
    100% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  @-webkit-keyframes revealerInContact {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @keyframes revealerInContact {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @-webkit-keyframes revealerOutContact {
    0% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  @keyframes revealerOutContact {
    0% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  .screen_hidden {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
/*# sourceMappingURL=layout.css.map */