.scrollable { height: 10000px; }

#main_container { background: radial-gradient(var(--main-dark), var(--main-black)); }

.chikachika { animation: chikachika 3s alternate infinite; }
.dark_bg { background: var(--main-black); }

#eyecatch {
    background: radial-gradient(var(--main-black-grad) 5%, var(--main-black));
}

.screen {
    width: 100vw;
    top: 0;
}
.screen_hidden { transform: translateX(-100%); }

.section { height: 100vw; }
.section:before { width: 0; }

.section_inner { opacity: 0; }

.section_content {
    transform-origin: right bottom;
    top: 0;
    left: 0;
    border: 1px solid var(--main);
}
.active .section_content { border: none; }

.content_inner {opacity: 0;}

.active .content_inner { opacity: 1; }

.concept { transform: rotateZ(90deg) translateY(-100%); }
.about { transform: rotateZ(90deg) translate(100%, -100%); }
.works { transform: rotateZ(90deg) translate(200%, -100%); }
.contact { transform: rotateZ(90deg) translate(300%, -100%); }


.eyecatch_inner {
    margin: auto;
    max-width: 1500px;
    height: 50%;
}

//active
.section.active {
    transform: none;
    top: 0;
    height: 100%;
    position: fixed;
    will-change: transform;
    .section_title {
        transform: translate(-5%, 15%); 
    }
}
//active

//reveal
.section.reveal .section_inner {
    opacity: 1;
    transition-delay: .3s;
}
.section.reveal:before {
    animation: revealerIn .3s forwards, revealerOut .3s forwards .5s;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-dark);
    z-index: 1;
}
@keyframes revealerIn {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}
@keyframes revealerOut {
    0% { transform: translateY(0%); }
    100% { transform: translateY(100%); }
}
//reveal










@media screen and (min-width: 896px) {
    // .section {
    //     width: 100vh;
    //     height: calc(100vw / 4);
    // }
    // .about { transform: rotateZ(90deg) translateY(-200%); }
    // .works { transform: rotateZ(90deg) translateY(-300%); }
    // .contact { transform: rotateZ(90deg) translateY(-400%); }
    // .about { transform: none; }
    // .works { transform: none; }
    // .contact { transform: none; }
    // @keyframes revealerIn {
    //     0% { transform: translateX(-100%); }
    //     100% { transform: translateX(0%); }
    // }
    // @keyframes revealerOut {
    //     0% { transform: translateX(0%); }
    //     100% { transform: translateX(100%); }
    // }
    // .screen_hidden { transform: translateY(100%); }

}