.section_title {
    transform: translateY(-90%) rotateZ(-90deg);
    right: 0;
    top: 0;
    transform-origin: right bottom;
    font-size: 4rem;
    line-height: 1;
}
.title_effect { z-index: 100; }
.section_num {
    z-index: 0;
    transform: translateX(100%) rotateZ(-90deg);
    transform-origin: left bottom;
    bottom: 0;
    top: auto;
    opacity: .7;
    svg {
        fill: var(--main);
        width: 48%;
    }
    .small_gear { transform-origin: 48% 35.3%;animation: toLeftBack .4s forwards; } 
    .big_gear { transform-origin: 74.3% 54%; } 
}

.active.concept .section_num, .active.about .myimg_box_bg { animation: chikachika 3s infinite alternate; opacity: 1; }
.active .small_gear { animation: toLeft .4s forwards; }
.active .myimg_box { transform: translate(-75%, 10%); }

@keyframes toLeft {
    from { left: 0; }
    to { left: 11%; }
}
@keyframes toLeftBack {
    from { left: 11%; }
    to { left: 0; }
}

.active_none { right: 0; }
.concept .active_none { transform: translateX(80%); }
.about .active_none { transform: translateX(110%); }

.concept_title {
    font-size: 1.2rem;
    .char { opacity: 0; }
}


.myimg { opacity: 0; }
.active .myimg { opacity: 1; }
.active .myimg_base { opacity: 0; }