.section_title {
    transform: translateY(-90%) rotateZ(-90deg);
    right: 0;
    top: 0;
    transform-origin: right bottom;
    font-size: 4rem;
    line-height: 1;
}
.title_effect { z-index: 100; }
.section_num {
    z-index: 0;
    transform: translateX(100%) rotateZ(-90deg);
    transform-origin: left bottom;
    bottom: 0;
    top: auto;
    opacity: .7;
    svg {
        fill: var(--main);
        width: 48%;
    }
    .small_gear { transform-origin: 48% 35.3%;animation: toLeftBack .4s forwards; } 
    .big_gear { transform-origin: 74.3% 54%; } 
}

.active.concept .section_num, .active.about .myimg_box_bg { animation: chikachika 3s infinite alternate; opacity: 1; }
.active .small_gear { animation: toLeft .4s forwards; }
.active .myimg_box { transform: translate(-75%, 10%); }

@keyframes toLeft {
    from { left: 0; }
    to { left: 11%; }
}
@keyframes toLeftBack {
    from { left: 11%; }
    to { left: 0; }
}

.active_none { right: 0; }
.concept .active_none { transform: translateX(80%); }
.about .active_none { transform: translateX(110%); }
.works .active_none { transform: translateX(110%); }

.contact {
    .active_none { transform: translateX(115%); }
    .content_inner {
        flex-flow: column nowrap;
        height: 50%; margin: auto; top: 25%;
    }
}
.icon { transform: translateX(-350%); }

.concept_title {
    font-size: 1.2rem;
    .char { opacity: 0; }
}


.myimg { opacity: 0; }
.active .myimg { opacity: 1; }
.active .myimg_base { opacity: 0; }

.active.works {
    .section_num { width: 80%; opacity: 1; }
    .work_triangle { width: 45%; }
    .work_triangle.tri2 { transform: translateX(-120%) rotateX(180deg) rotateY(180deg); }
    .work_triangle.content_tri, .work_triangle.tri2 { transform-origin: 72% 95%; }
    
} 

.content_tri { transform: translateX(0) rotateX(180deg) rotateY(180deg);opacity: 0.3; }




.active.contact {
    .section_num { width: 180%;transform: translate(10%, 10%); }
    .content_inner {
        transition-delay: 1s;
    }
    .icon { transform: none; }
}
.active .rect { 
    fill: #fff3;
    stroke: var(--main);
    stroke-width: .2;
}
.active .rect1 {
    transform: translate(90%, -15%);
}

.icon {
    width: 40px;height: 40px;
    transition-duration: 1.2s;
    path { fill: #fff5; }
}
@for $i from 1 through 6 {
    .icon:nth-child(#{$i}) {
        transition-delay: $i * .2s;
    }
}