.section_title {
    transform: translateY(-90%) rotateZ(-90deg);
    right: 0;
    top: 0;
    transform-origin: right bottom;
    font-size: 4rem;
    line-height: 1;
}
.title_effect { z-index: 100; }
.section_num {
    z-index: 0;
    transform: translateX(100%) rotateZ(-90deg);
    transform-origin: left bottom;
    bottom: 0;
    top: auto;
    opacity: .7;
    svg {
        fill: var(--main);
        width: 48%;
    }
    .small_gear { transform-origin: 48% 35.3%;animation: toLeftBack .4s forwards; } 
    .big_gear { transform-origin: 74.3% 54%; } 
}

.active.concept .section_num, .active.about .myimg_box_bg { animation: chikachika 3s infinite alternate; opacity: 1; }
.active .small_gear { animation: toLeft .4s forwards; }
.active .myimg_box { transform: translate(-75%, 10%); }

@keyframes toLeft {
    from { left: 0; }
    to { left: 11%; }
}
@keyframes toLeftBack {
    from { left: 11%; }
    to { left: 0; }
}

.active_none { right: 0; }
.concept .active_none { transform: translateX(80%); }
.about .active_none { transform: translateX(110%); }
.works .active_none { transform: translateX(110%); }

.contact {
    .active_none { transform: translateX(115%); }
    .content_inner {
        $icon_nums: 4;
        flex-flow: column nowrap;
        height: $icon_nums * 7.5%; margin: auto; top: 25%;
    }
}
.icon { transform: translateX(-350%); }

.concept .content_inner {
    z-index: 1;
    .concept_title { font-size: 1.5rem; }
    .char { opacity: 0; }
    .char_flash { color: #fff; }
    .txt-default { font-size: 1.2rem; }
    .txt-sm { font-size: .7rem; }
}

.about .content_inner {
    bottom: 0;height: 50%;
    .txt_box { width: 0; }
    .txt_box2, .txt_box3 { top: 0;left: 0; }
    .name { font-size: 1.4rem; }
    .txt_box3 .name { padding: 1.4rem 0; }
}

.active .myimg { opacity: 1; }
.active .myimg_base { opacity: 0; }

.active.works {
    .section_num { width: 80%; opacity: 1; }
    .work_triangle { width: 45%; }
    .tri1, .tri2 { opacity: .7; }
    .work_triangle.tri2 { transform: translate(-120%, 95%) rotateX(180deg) rotateY(180deg); }
    .work_triangle.content_tri, .work_triangle.tri2 { transform-origin: 72% center; }
    .content_tri { transform: translate(0%, 95%) rotateX(180deg) rotateY(180deg); }
    .content_tri2 { transform: translate(0%, 147%) rotateX(0deg) rotateY(0deg); }
    .content_tri3 { transform: translate(0%, 242%) rotateX(180deg) rotateY(180deg); }
    .content_tri4 { transform: translate(0%, 294%) rotateX(0deg) rotateY(0deg); }
    //comingsoon
    .work_img_after {
        polygon { fill: #808080; }
        .cs path { fill: #fff; }
    }
    //comingsoon
} 

.active.contact {
    .section_num { width: 180%;transform: translate(10%, 10%); }
    .content_inner {
        transition-delay: 1s;
    }
    .icon { transform: none; }
}
.active .rect { 
    fill: #fff3;
    stroke: var(--main);
    stroke-width: .2;
}
.active .rect1 {
    transform: translate(90%, -15%);
}

.icon {
    width: 40px;height: 40px;
    transition-duration: 1.2s;
    opacity: .4; 
    path { fill: #fff; }
}
@for $i from 1 through 6 {
    .icon:nth-child(#{$i}) {
        transition-delay: $i * .2s;
    }
}

@media screen and (min-width: 768px) {
    .concept .section_num { max-width: 600px;}
    .about .section_num { max-width: 450px;}
    .contact .section_num { max-width: 1200px;}
    .section_title { font-size: 5rem; }
    .concept .content_inner {
        .concept_title { font-size: 1.6rem; }
        .txt-default { font-size: 1.3rem; }
        .txt-sm { font-size: .8rem; }
    }
    .about .content_inner {
        .name { font-size: 2.4rem; }
        .txt_box3 .name { padding: 2.4rem 0; }
        .txt-sm { font-size: 1.1rem; }
    }
    .contact .content_inner { 
        z-index: -1;
        .icon {width: 60px;height: 60px;}
    }
    .contact.active .content_inner { z-index: 1; }

}
@media screen and (min-width: 896px) {
    .section_title.title_effect { transform: translateY(15%); left: 0;right: auto; }
    .right_auto_important { right: auto !important; }
    .active .section_title.title_effect { left: auto !important; }
    .section_num { transform: translateX(-50%);width: 45% !important; }
    .concept.active .section_num { max-width: 600px;}
    .works.active .section_num { width: 40% !important;}
    .contact.active .section_num { width: 65% !important;}
    .leftline {width: 8% !important;}
    .about .content_inner { bottom: 25%; }
    .prefix_number { font-size: 4.8rem; }
    .works .content_inner { 
        top: 50%;transform: translateY(-50%); 
        color: var(--main);
    }
    .contact .content_inner { 
        flex-flow: row nowrap; 
        height: 40%;
        .icon { margin-right: 40px;
            width:80px;height:80px;
            transform: translateY(-200%); 
            opacity: .7;
        }
    }
    .active.contact .icon {transform:none;}
    .icon:hover { opacity: 1 !important; }
}
